/* Universal */

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 200px;
}

/* Main */

main {
  margin: auto;
  width: 80%;

  color: white;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  padding: 10px;
  box-shadow: 1px 1px 10px;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {box-shadow: 1px 1px 10px var(--primary)}
  100% {box-shadow: 1px 1px 10px var(--secondary);}  
}

/* About Me Section */
#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me .portfolio-link-btn {
  background-color: var(--primary);
  margin-bottom: 20px;
  width: 200px;
  padding: 10px 0;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#about-me .portfolio-link-btn:hover {
  transform: scale(110%);
  transition: 2s;
}

#about-me .portfolio-link-btn::after {
  content: '';
  display: block;
  background-color: white;
  /* transform: rotate(10deg); */
  width: 10px;
  height: 100px;
  position: absolute;
  top: 0;
  left: -10px;
  animation: overlay-transition 2s ease-in-out 2s forwards;
  opacity: .5;
}

@keyframes overlay-transition {
  0% {transform: translateX(0)}
  100% {transform: translateX(210px)}
}



#about-me .portfolio-link-btn:hover::after {
  transform: translateX(100px);
  transition-duration: 2s;
}


#about-me .top {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 20px;
} 

#about-me .top::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 2px;
  background-color: white;
  top: 0;
}

#about-me .top::after {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 2px;
  background-color: white;
  bottom: 0;
}

#about-me .top-container {
  width: 100%;
 }

 #about-me .top-container {
  text-align: center;
 }

#about-me .top-header {  
  animation-name: fade-in;
  animation-duration: 4s;
}

#about-me .top-container img {
  width: 75%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}

#about-me .top-header img {  
  width: 80%;
}

#about-me .top-header #larger-title {
  font-size: 2.5rem;
}

#about-me .top-header #scroll-skills {
  animation: word-scroll 3s infinite;
}



#about-me .bio p {
  text-align: left;
}

#about-me .bio img {
  float: right;
  width: 10%;
  border-radius: 50%;
  border: rgb(126, 106, 190) solid 1px;
}

/* Porfolio */

/* #portfolio img {  width: 20%;
} */

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolio .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-body {
  width: 100%;
  position: relative;
}

#portfolio .project-slider {
  width: 100%;
  display: flex;
  overflow: hidden;
}

#portfolio a {
  color: white;
}

/* .section-body::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 2px;
  background-color: white;
  top: 0;
} */
/* .section-body::after {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 2px;
  background-color: white;
  bottom: 0;
} */

#portfolio .arrow {
  position: absolute;
  font-size: 2rem;
  width: 50px;
  height: 75px;
  top: 50%;
  transform: translateY(-100%);
  color: white;
  text-align: center;
  cursor: pointer;
  z-index: 100;
}





#portfolio .project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 10px;
  transition: translate 300ms ease-in-out;
}

#portfolio .project img {
  width: 50%;
}

#portfolio .project a {
  margin: 10px;
}

















/* image slider */

.img-slider-img {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
}

.img-slider-btn {

  /* all: unset; */
  height: 120px;
  width: 120px;
  display: block;
  position: absolute;
  top: 50%;
}




/* end image slider */










/* Contact me section */

#contact-title {
  text-align: left;
}

#contact input {
  display: block;
  margin-top: 10px;
  max-width: 300px;
  width: 100%;
}

#contact #contactMe-message {
  display: block;
  margin-top: 10px;
  max-width: 300px;
  width: 100%;
  height: 100px;
}

#contact button {
  margin-top: 10px;
}





/* Footer */

footer .container{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: white;
}

footer .right {
  display: flex;
}

footer .right p {
  margin: 0 20px;
}







 



/* Cell phone scroll effect */

























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
